<div class="col-2 ps-2">
  @if (showImage) {
  <img
    [src]="product.imageUrl"
    alt=""
    [title]="product.description | uppercase"
  />
  }
</div>
<div class="col-4 my-auto">{{ product.description }}</div>
<div class="col my-auto">{{ product.price | currency : "EUR" : "symbol" }}</div>
<div class="col my-auto">{{ product.available | date : "dd/MM/yyyy" }}</div>
<!-- Resto de columnas -->
<div class="col my-auto">
  <star-rating
    [rating]="product.rating"
    (ratingChanged)="changeRating($event)"
  />
</div>
